* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
}

html, input, button {
    font-family: "Inter", sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    /* background-color: #F9F9F9; */
    background-image: url("/assets/images/fundo.jpeg");
    background-repeat: no-repeat;
    background-position:unset;
background-size: 100%; 
   
 position: relative;
}
.container {
    height: 100%;
    width: 100%;
    max-width: 720px;
    min-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin-top: 64px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header h1 {
    font-size: 32px;
    color: #44546A;
    margin-top: 16px;
}

.interestsForm {
    display: flex;
    gap: 16px;
    margin-bottom: 32px;
    width: 100%;
    min-width: 1000px;

}

.interestsForm input {
    border: 0;
    min-height: 52px;
    width: 100%;
    color: #44546A;
    border-radius: 5px;
    padding: 16px 24px;
    box-shadow: 3.9px 7.8px 7.8px hsla(0, 1%, 37%, 0.25);
    
}

.interestsForm button {
    background: #F40273;
    color: #fff;
    padding: 16px 32px;
    border-radius: 5px; 
    min-height: 45px;

    min-width: 140px;
    border: 0;
    cursor: pointer;
    animation: filter 0.5s ease;
    box-shadow: 3.9px 7.8px 7.8px hsla(0, 1%, 37%, 0.25);
}
.interestsForm button:hover {
    filter: brightness(0.8);
    font-weight: bold; 
}
.list {
    width: 100%;
    max-width: 1720px;
    min-width: 1033px;
    margin: 0 auto;
    padding: 16px 32px;
    /* box-shadow: -3.9px 0 7.8px hsla(0, 1%, 37%, 0.25); */
    /* box-shadow: 0 0 10px hsla(0, 1%, 37%, 0.25); */
    background-image: linear-gradient(to right, hsla(300, 50%, 77%, 0.25), transparent);
}

.list div {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    margin-bottom: 32px;
}

.list div button {
    color: #F40273;
    background: #f6f3f4;
    background: transparent(8.2);
    padding: 16px 32px;
    border-radius: 5px; 
    border: 0;
    min-height: 45px;
    cursor: pointer;
    animation: filter 0.5s ease;
    box-shadow: 3.9px 7.8px 7.8px hsla(0, 1%, 37%, 0.25);
}
.list div button:hover {
    filter: brightness(0.9);
    font-weight: bold; 
}

.list ul {
    list-style: none;
}

.list ul li {
    padding: 16px;
    background: #fff;
    border-radius: 5px;
    color: #44546A;
}

.news {
    position: absolute;
    bottom: 70px;
    right: 50px;
    width: 14%;
    height: 30%;
    background: #F5F5F5;
    box-shadow: 7.9px 15.8px 15.8px hsl(0deg 0% 0% / 0.25);

    border-radius: 3px;
}

.news div {
    text-align: right;
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 12px;
    background: #F5F5F5;
    color: #09124c;

}
aside :hover {
    filter: brightness(0.9);
    font-weight: bold; 
}

.news a { 
    cursor: pointer
}
.news p {
    padding: 16px;
    width: 100%;

    /* text-overflow: ellipsis; */
    /* text-align: right; */
    font-size: 14px;
    color: #22262d;
    font-weight: bold; 
}

.news img{

    width: 100%;
    max-height: 110px;
    border-radius: 8px;
    object-fit:contain; 
    /* cover nao corta, mas mantem proporcao */
    object-position: center;
}